---
swagger: "2.0"
info:
  description: "This API converts EXR files to PNG and provides an image upload functionality."
  version: "1.0.0"
  title: "EXR to PNG Conversion and Image Upload API"
  termsOfService: "http://example.com/terms/"
  contact:
    email: "support@example.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "relighting-comfyui.tcl-research.us"
basePath: "/api"
tags:
  - name: "Image Upload"
    description: "APIs for uploading images"
  - name: "EXR to PNG"
    description: "APIs for converting EXR files to PNG format"
schemes:
  - "https"
paths:
  /nuke/upload:
    post:
      tags:
        - "Image Upload"
      summary: "Upload an image"
      description: "Upload an image file using multipart/form-data."
      operationId: "uploadImage"
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - name: "file"
          in: "formData"
          description: "The image file to be uploaded"
          required: true
          type: "file"
      responses:
        200:
          description: "Image uploaded successfully"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
              filename:
                type: "string"
                description: "The name of the uploaded file"
            example:
              message: "Image successfully uploaded"
              filename: "uploaded_image.png"
        400:
          description: "No file uploaded"
          schema:
            type: "object"
            properties:
              error:
                type: "string"
            example:
              error: "No file uploaded"
        500:
          description: "Internal server error"
          schema:
            type: "object"
            properties:
              error:
                type: "string"
            example:
              error: "An error occurred: error details"

  /nuke/ext2png:
    post:
      tags:
        - "EXR to PNG"
      summary: "Convert EXR files to PNG"
      description: "This endpoint processes EXR files, removes greenscreens, and converts them to PNG format."
      operationId: "convertEXRToPNG"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "JSON array containing EXR file information"
          required: true
          schema:
            type: "array"
            items:
              type: "object"
              properties:
                filename:
                  type: "string"
                  description: "Path to the EXR file"
                subfolder:
                  type: "string"
                  description: "Subfolder for organizing output (can be empty)"
                type:
                  type: "string"
                  description: "Type of the file (input or output)"
              required:
                - filename
            example:
              - filename: "sample.1015.exr"
                subfolder: ""
                type: "input"
              - filename: "sample.1014.exr"
                subfolder: ""
                type: "input"
              - filename: "sample.1013.exr"
                subfolder: ""
                type: "input"
      responses:
        200:
          description: "A list of alpha PNG paths resulting from the greenscreen removal"
          schema:
            type: "array"
            items:
              type: "object"
              properties:
                filename:
                  type: "string"
                  description: "The PNG file generated from the EXR file"
                subfolder:
                  type: "string"
                  description: "The subfolder where the PNG file is stored"
                type:
                  type: "string"
                  description: "The type of the file (output)"
            example:
              - filename: "sample.1015.png"
                subfolder: "png_b794ab2dbe8b479498d345a668e7dfa1"
                type: "output"
              - filename: "sample.1014.png"
                subfolder: "png_b794ab2dbe8b479498d345a668e7dfa1"
                type: "output"
              - filename: "sample.1013.png"
                subfolder: "png_b794ab2dbe8b479498d345a668e7dfa1"
                type: "output"
        400:
          description: "Invalid input, such as missing fields or wrong data format"
          schema:
            type: "object"
            properties:
              error:
                type: "string"
            example:
              error: "Invalid input, expecting a list of objects"
        500:
          description: "Internal server error"
          schema:
            type: "object"
            properties:
              error:
                type: "string"
            example:
              error: "An error occurred: error details"

definitions:
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
